* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: 0.5s;
}

.main {
  /* background: rgb(25, 23, 22);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.852) 38%,
    rgb(23, 21, 22) 100%
  ); */
  /* background-image: url('../Assets/bg-main.png'); */
  height: 100vh;
  background-image: url("../Assets/stacked-steps-haikei\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  padding-top: 5vh;
}

.cont {
  background: rgb(255, 49, 31);
  background: linear-gradient(
    90deg,
    rgb(250, 58, 41) 100%,
    rgb(255, 54, 131) 100%
  );
  height: 93vh;
  width: 85vw;
  margin: auto auto;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 5px;
}

.profile {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

.p {
  display: flex;
}

.pfp {
  height: 28px;
  width: 28px;
  border-radius: 40%;
  margin: 10px;
  mix-blend-mode: multiply;
  background-color: black;
  border: 1px solid gray;
}

#name {
  font-size: 17px;
  font-weight: 500;
  margin-top: 11px;
  padding-bottom: 5px;
}

#name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.log {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  height: 33px;
  padding-top: 5px;
  width: 80px;
  text-align: center;
  padding-right: 18px;
  color: rgb(255, 221, 169);
  margin-block: 6px;
  margin-inline: 9px;
  cursor: pointer;
  font-weight: 600;
  transition-duration: 0.5s;
}

.log:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  border-radius: 10px;
}

.log:active {
  background-color: #000000;
}
.greetting {
  color: rgb(37, 25, 25);
  display: flex;
  text-align: center;
  width: 85vw;
  border-bottom: 1px solid black;
  margin-block: 5px;
  justify-content: center;
}

.greetting .pfp {
  margin: inherit;
  padding: inherit;
  margin-right: 8px;
}

.menu-items button {
  background-color: rgba(255, 255, 255, 0.292);
  width: 180px;
  height: 45px;
  margin-block: 20px;
  border-radius: 15%;
  text-align: center;
  font-weight: 700;
  margin-left: 15px;
  border: 0.5px solid black;
  padding-top: 8px;
}

.menu-items button:hover {
  /* transform: scale(1.1, 1.1); */
  background-color: rgba(255, 0, 0, 0.45);
  cursor: pointer;
  color: lavenderblush;
  transition-duration: 0.3s;
}

.menu-cont {
  border-right: 2px dotted black;
  width: 220px;
}

.profile-sec,
.payment-cont,
.exams-cont,
.results-cont,
.event-cont,
.aca-cont,
.fac-cont {
  width: 69vw;
  height: 80vh;
  background-color: rgba(5, 5, 82, 0);
  position: absolute;
  left: 345px;
  top: 140px;
  overflow: hidden;
  /* border: 2px solid rgb(255, 255, 255); */
}

.profile-details img {
  height: 100px;
  width: 100px;
  margin-left: 190px;
  margin-block: 10px;
  mix-blend-mode: multiply;
  border-radius: 100%;
}

.profile-details {
  position: absolute;
  top: 140px;
  background-color: rgba(220, 20, 60, 0.297);
  left: 10px;
  padding-block: 10px;
  width: 500px;
  margin-left: 0;
  padding: 15px;
}

.profile-details h2 {
  font-weight: 700;
  color: cornsilk;
  text-align: center;
  margin-top: 8px;
}

.profile-details h3 {
  font-weight: 700;
  color: cornsilk;
  margin-top: 8px;
  text-align: center;
}

.profile-h {
  width: 350px;
  position: absolute;
  top: 145px;
  left: 635px;
}

.h- img {
  width: 20px;
  height: 20px;
  mix-blend-mode: multiply;
}

.h- h4 {
  text-align: center;
  margin-left: 80px;
}

.h- {
  display: flex;
  margin-bottom: 16px;
}

.black button {
  background: #0f0c29;
  color: bisque;
}

.black button:hover {
  background: #19116b;
  color: bisque;
}

.amount {
  margin-block: 100px;
  margin-left: 10px;
  width: 600px;
  padding-top: 75px;
  height: 400px;
  box-shadow: 0px 0px 20px 10px black;
  /* background-image: url("../Assets/bg-amount.png"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.amount h2,
h3 {
  text-align: center;
  margin-bottom: 9px;
  color: rgb(255, 217, 140);
}

.amount button {
  height: 45px;
  width: 120px;
  left: 242px;
  color: white;
  margin-block: 29px;
  position: absolute;
  font-weight: 900;
  font-size: 13px;
  border-radius: 25px;
  background: darkcyan;
  text-align: center;
  transition-duration: 0.7s;
}

.amount button:hover {
  background: rgb(0, 66, 66);
  cursor: pointer;
}

.payments- {
  top: 100px;
  height: 400px;
  width: 450px;
  left: 600px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.payment-gate {
  width: 250px;
  height: 50px;
  margin-inline: auto;
  /* background-color: beige; */
  background-color: #fff;
  border-radius: 75px;
  margin-block: 17px;
}

.payment-gate:hover {
  /* background-color: rgb(228, 176, 158); */
  background-color: rgb(75, 75, 213);
  cursor: pointer;
  transform-origin: right;
  /* transform-origin: left; */
  transition-duration: 0.5s;
}

/* .exams-cont h2 {
  text-align: center;
  margin-top: 35vh;
} */
/* .results-cont h2 {
  text-align: center;
  margin-top: 35vh;
} */
/* .event-cont h2 {
  text-align: center;
  margin-top: 35vh;
} */
/* .aca-cont h2 {
  text-align: center;
  margin-top: 35vh;
} */
.fac-cont h2 {
  text-align: center;
  margin-top: 35vh;
}

/* Style for the main "Exams" section */

/* Style for individual subsections */
.exam-schedule,
.past-exam-results,
.study-resources,
.exam-registration,
.exam-section {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #0000005c;
  /* background-color: #fff; */
  background-color: #ffffff63;
}

/* Style for content within subsections (placeholders) */
.exam-schedule p,
.past-exam-results p,
.study-resources p,
.exam-registration p {
  font-size: 16px;
  color: #555;
  margin: 0;
}

/* Example style for buttons within subsections (customize as needed) */
.exam-schedule button,
.past-exam-results button,
.study-resources button,
.exam-registration button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.exam-schedule button:hover,
.past-exam-results button:hover,
.study-resources button:hover,
.exam-registration button:hover {
  background-color: #0056b3;
}

.exam-schedule:hover,
.past-exam-results:hover,
.study-resources:hover,
.exam-registration:hover,
.exam-section:hover {
  /* background-color: #ffffff63; */
  background-color: rgba(224, 224, 224, 0.708);
  cursor: pointer;
}

.exam-section h3 {
  padding: 12px 20px;
  margin: 0;
  color: #333;
  background-color: #f0f0f0;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exam-section h3:hover {
  background-color: #e0e0e0;
}

.exam-content {
  padding: 20px;
  color: #1c1b1b;
  font-size: 16px;
}

.exam-content ul {
  list-style-type: none;
  padding: 0;
}

.exam-content ul li {
  margin-bottom: 10px;
}

/* Add a nice box shadow to the section */
.exam-section:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resou {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resou p {
  flex: 1; /* Takes up remaining space on the left */
  margin-right: 10px; /* Add some spacing between the elements */
}

.exams-cont {
  padding-top: 25px;
}
.results-cont h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

table th {
  background-color: #ffffff63;
}

table tbody tr:nth-child(even) {
  background-color: #ffffff63;
}

table tbody tr:hover {
  background-color: rgba(224, 224, 224, 0.708);
  cursor: pointer;
}

.aca-cont h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}

.aca-cont p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #000000;
}

.aca-cont ul {
  list-style-type: none;
  padding: 0;
}

.aca-cont li {
  margin-bottom: 10px;
  font-weight: 600;
}

.aca-cont .assignments {
  margin-top: 30px;
}

.aca-cont .assignment {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-weight: 600;
}

.aca-cont input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #414441;
  border-radius: 50%;
  cursor: pointer;
}

.aca-cont input[type="checkbox"]:checked {
  background-color: #4e504e;
  border: 2px solid #000000;
}

.aca-cont label {
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}

.aca-cont h3 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #000000;
}

.aca-cont .aca-updates {
  margin-top: 30px;
}

.classwork-updates {
  margin-top: 20px;
  padding-left: 20px;
  list-style-type: none;
}

.classwork-updates li {
  font-size: 16px;
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
}

.classwork-updates li:before {
  content: "\2022"; /* Bullet point */
  color: #ffffff63;
  font-weight: bold;
  position: absolute;
  left: 0;
}

.checkbox-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;
  --c-primary: #000000;
  --c-primary-20-percent-opacity: rgba(0, 0, 0, 0.2);
  --c-primary-10-percent-opacity: rgba(249, 245, 255, 0.1);
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
}

.checkbox-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-33 .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkbox-wrapper-33 .checkbox + .checkbox {
  margin-top: var(--s-small);
}

.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-right: calc(var(--s-small) * 0.7);
  border: var(--border-width) solid var(--c-primary);
  position: relative;
  border-radius: 0.1em;
  width: 0.9em;
  height: 0.9em;
  transition: box-shadow var(--t-base) var(--e-out),
    background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}

.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: var(--c-primary);
  display: inline-block;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}

.checkbox-wrapper-33 .checkbox__textwrapper {
  margin: 0;
}

.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
  animation: ripple-33 1.5s var(--e-out);
}

.checkbox-wrapper-33
  .checkbox__trigger:checked
  + .checkbox__symbol
  .icon-checkbox
  path {
  transition: stroke-dashoffset var(--t-base) var(--e-out);
  stroke-dashoffset: 0px;
}

.checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

.event-cont {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* This will create 3 columns of equal width */
  /* Add some gap between the cards */
  overflow: visible;
}

.card {
  width: 300px;
  height: 200px;
  background-color: transparent;
  background-image: url("../Assets/4.webp");
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  color: white;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
.card1 {
  background-image: url("../Assets/Foundation.webp");
  width: 300px;
  height: 200px;
  background-color: transparent;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  color: white;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
.card3 {
  background-image: url("../Assets/celeb.webp");
  width: 300px;
  height: 200px;
  background-color: transparent;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  color: white;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
.card4 {
  background-image: url("../Assets/seminars.webp");
  width: 300px;
  height: 200px;
  background-color: transparent;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  color: white;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
.card5 {
  background-image: url("../Assets/rang.webp");
  width: 300px;
  height: 200px;
  background-color: transparent;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  color: white;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
.card6 {
  background-image: url("../Assets/ras.webp");
  width: 300px;
  height: 200px;
  background-color: transparent;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  color: white;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}

.card:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0px 0px 20px 10px black;
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.card:hover:before {
  transform: translateX(-100%);
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.card:hover:after {
  transform: translateX(100%);
}

.card div {
  position: absolute;
  top: 178px;
  font-weight: 700;
}

.re {
  display: flex;
  justify-content: space-evenly;
  /* padding-inline: 12px; */
  margin-top: 20px;
}

.re h3 {
  color: cornsilk;
}