html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff38;
  width: 600px;
  padding-bottom: 60px;
  border: transparent;
  /* border: 2px solid black; */
  border-radius: 15%;
  margin-block: auto;
  margin-left: 80px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 30px;
  align-items: center;
}

.text {
  color: #3c009d;
  font-size: 48px;
  font-weight: 700;
}

.line {
  width: 61px;
  height: 6px;
  background-color: #3c009d;
  border-radius: 9px;
}

.inputs {
  margin-top: 55px;
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  margin: auto;
  align-items: center;
  width: 480px;
  height: 80px;
  background-color: #eaeaea;
  border-radius: 6px;
}

.input img {
  height: 15px;
  margin: 0 30px;
  mix-blend-mode: color-burn;
}

.input input {
  background-color: transparent;
  outline: none;
  border: none;
  width: 400px;
  height: 50px;
  font-size: 19px;
  color: #797979;
}

.forgot {
  padding-left: 62px;
  margin-top: 27px;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  
}

.forgot span {
  color: #6a00ff;
  cursor: pointer;
}

.submit-con {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  background-color: #4c00ba;
  color: #fff;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  color: #676767;
  background: #eaeaea;
}
